<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:supportsRtl="false">
        <activity
            android:theme="@style/Theme.PeonLee"
            android:name=".OnboardActivity"
            android:exported="false">
        </activity>
    </application>
</manifest>