<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ProductCommentsActivity"
            android:theme="@style/Product.Detail"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/Product.Detail" />
    </application>

</manifest>